<svelte:options accessors={true}/>
<script>
import { createEventDispatcher } from "svelte";
const dispatch = createEventDispatcher();
    export let selected = null;

    const onSelectionChanged = (event) => {
    if(!selected){
      selected = null;
    }
    dispatch('select', event.target.value)
  }

</script>

select
<!-- svelte-ignore a11y-no-onchange -->
<select
  id="select"
  on:change={onSelectionChanged}
  bind:value={selected}>
    <option value="">Select</option>
      <option
        value="1234">
        User
      </option>
</select>