<script>
  import { goto, leftover, params, redirect } from "@sveltech/routify";
  import { fade, fly } from "svelte/transition";
  import components from "../../components/Components";

  function capitalize(string) {
    return string.charAt(0).toUpperCase() + string.substring(1);
  }

  const [type, identifier] = $leftover.split("/");
  let action, id;
  if (identifier.match(/select|list|create/)) {
    action = identifier;
  } else {
    id = identifier;
    action = "edit";
  }

  let component = components[type + capitalize(action)];

  let back;
  let _selected;
  let _component;
  let _count = 0;
  let _errorMsg =
    "You did not get redirected did you? Try this refresh button, or refresh the page it'll get you there: ";

</script>

<style>
  .card {
    background: grey;
    height: 10em;
    margin: 0 auto;
  }
</style>

<div class="overlay">
  <div class="card" transition:fly={{ y: 200, duration: 200 }}>
    <div class="modal-content">
      <div class="body">
        <svelte:component this={component} {id} bind:selected={_selected} on:select={(res) => console.log(res.detail)} bind:this={_component} />
        {#if action === 'select' && _selected}
          You selected a {type} with id:
          {_selected}, now click one of the Select buttons. It will try to $goto('{_selected}')
        {/if}
        <br />
        {#if action === 'select' && _count > 1}
          {_errorMsg}
          <button on:click={() => window.location.reload()}>Refresh</button>
        {/if}
        <br />        
        {#if action === 'select' && _selected}
          <button
            on:click={() => {$goto(_selected); _count++}}>
            Select
          </button>
          <button
          on:click={$goto(_component.selected)}>
          Select component value
        </button>
        <button
        on:click={$redirect(_selected)}>
        Redirect
      </button>
      <button
      on:click={$goto('../anything')}>
      Anything
    </button>
        {:else if action === 'edit'}
          <button on:click={_component.remove}> Delete </button>
          <button on:click={_component.update}> Update </button>
        {/if}
      </div>
    </div>
  </div>
</div>
